<main>
  <a href="/register" class="back-link">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32.416"
      height="23.078"
      viewbox="0 0 32.416 23.078"
    >
      <g
        id="Icon_ion-arrow-back"
        data-name="Icon ion-arrow-back"
        transform="translate(1 1.414)"
      >
        <path
          id="Icon_ion-arrow-back-2"
          data-name="Icon ion-arrow-back"
          d="M17.156,28.125,7.031,18,17.156,7.875M8.438,18h29.01"
          transform="translate(-7.031 -7.875)"
          fill="none"
          stroke="#459bcb"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        />
      </g>
    </svg>
  </a>
  <header class="header">
    <img src="uploads/img/logo.svg" alt="logo" />
    <h2>Die ofizielli BBZ Dating-Platform</h2>
  </header>

  <!-- Formular Dateiupload -->
  <form action="/main-page" enctype="multipart/form-data" method="post">
    <input type="text" name="name" />
    <input type="file" name="image" />
    <input type="submit" />
  </form>

  <!--
  <form action="/action_page.php" class="upload-form">
    <label for="myFile" class="upload-button">
      <img
        src="uploads/img/camera.svg"
        alt="camera-outline"
        class="camera-icon"
      />
    </label>
    <input class="hide-button" type="file" id="myFile" name="filename" />
  </form>
  -->
  <div class="upload-text-box">
    <h2>Profilbiud ufeladä</h2>
    <p>
      Dr perfekt moment, die beschti
      <br />
      Sitte z’zeige!
    </p>
  </div>
  <a href="main-page.html" class="finish-link">
    <button class="button finish-button" type="button">Ab uf d’Jagd</button>
  </a>
  <div class="line-container">
    <div class="blue-line-full"></div>
    <div class="gray-line-full"></div>
  </div>
</main>